<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>sinpin</key>
    <string>sinpin.glif</string>
    <key>sitelen</key>
    <string>sitelen.glif</string>
    <key>sona</key>
    <string>sona.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>sina</key>
    <string>sina.glif</string>
    <key>sin</key>
    <string>sin.glif</string>
    <key>sewi</key>
    <string>sewi.glif</string>
    <key>sijelo</key>
    <string>sijelo.glif</string>
    <key>sike</key>
    <string>sike.glif</string>
    <key>NameMe.98</key>
    <string>N_ameM_e.98.glif</string>
    <key>NameMe.99</key>
    <string>N_ameM_e.99.glif</string>
    <key>NameMe.100</key>
    <string>N_ameM_e.100.glif</string>
    <key>a.0</key>
    <string>a.0.glif</string>
    <key>akesi</key>
    <string>akesi.glif</string>
    <key>ala</key>
    <string>ala.glif</string>
    <key>alasa</key>
    <string>alasa.glif</string>
    <key>ali</key>
    <string>ali.glif</string>
    <key>anpa</key>
    <string>anpa.glif</string>
    <key>ante</key>
    <string>ante.glif</string>
    <key>anu</key>
    <string>anu.glif</string>
    <key>awen</key>
    <string>awen.glif</string>
    <key>e.0</key>
    <string>e.0.glif</string>
    <key>en</key>
    <string>en.glif</string>
    <key>esun</key>
    <string>esun.glif</string>
    <key>ijo</key>
    <string>ijo.glif</string>
    <key>ike</key>
    <string>ike.glif</string>
    <key>ilo</key>
    <string>ilo.glif</string>
    <key>insa</key>
    <string>insa.glif</string>
    <key>jaki</key>
    <string>jaki.glif</string>
    <key>jan</key>
    <string>jan.glif</string>
    <key>jelo</key>
    <string>jelo.glif</string>
    <key>jo</key>
    <string>jo.glif</string>
    <key>kala</key>
    <string>kala.glif</string>
    <key>kalama</key>
    <string>kalama.glif</string>
    <key>kama</key>
    <string>kama.glif</string>
    <key>kasi</key>
    <string>kasi.glif</string>
    <key>ken</key>
    <string>ken.glif</string>
    <key>kepeken</key>
    <string>kepeken.glif</string>
    <key>kili</key>
    <string>kili.glif</string>
    <key>kiwen</key>
    <string>kiwen.glif</string>
    <key>ko</key>
    <string>ko.glif</string>
    <key>kon</key>
    <string>kon.glif</string>
    <key>kule</key>
    <string>kule.glif</string>
    <key>kulupu</key>
    <string>kulupu.glif</string>
    <key>kute</key>
    <string>kute.glif</string>
    <key>la</key>
    <string>la.glif</string>
    <key>lape</key>
    <string>lape.glif</string>
    <key>laso</key>
    <string>laso.glif</string>
    <key>lawa</key>
    <string>lawa.glif</string>
    <key>len</key>
    <string>len.glif</string>
    <key>lete</key>
    <string>lete.glif</string>
    <key>li</key>
    <string>li.glif</string>
    <key>lili</key>
    <string>lili.glif</string>
    <key>linja</key>
    <string>linja.glif</string>
    <key>lipu</key>
    <string>lipu.glif</string>
    <key>loje</key>
    <string>loje.glif</string>
    <key>lon</key>
    <string>lon.glif</string>
    <key>luka</key>
    <string>luka.glif</string>
    <key>lukin</key>
    <string>lukin.glif</string>
    <key>lupa</key>
    <string>lupa.glif</string>
    <key>ma</key>
    <string>ma.glif</string>
    <key>mama</key>
    <string>mama.glif</string>
    <key>mani</key>
    <string>mani.glif</string>
    <key>meli</key>
    <string>meli.glif</string>
    <key>mi</key>
    <string>mi.glif</string>
    <key>mije</key>
    <string>mije.glif</string>
    <key>moku</key>
    <string>moku.glif</string>
    <key>moli</key>
    <string>moli.glif</string>
    <key>monsi</key>
    <string>monsi.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>mun</key>
    <string>mun.glif</string>
    <key>musi</key>
    <string>musi.glif</string>
    <key>mute</key>
    <string>mute.glif</string>
    <key>nanpa</key>
    <string>nanpa.glif</string>
    <key>nasa</key>
    <string>nasa.glif</string>
    <key>nasin</key>
    <string>nasin.glif</string>
    <key>nena</key>
    <string>nena.glif</string>
    <key>ni</key>
    <string>ni.glif</string>
    <key>nimi</key>
    <string>nimi.glif</string>
    <key>noka</key>
    <string>noka.glif</string>
    <key>o.0</key>
    <string>o.0.glif</string>
    <key>olin</key>
    <string>olin.glif</string>
    <key>ona</key>
    <string>ona.glif</string>
    <key>open</key>
    <string>open.glif</string>
    <key>pakala</key>
    <string>pakala.glif</string>
    <key>pali</key>
    <string>pali.glif</string>
    <key>palisa</key>
    <string>palisa.glif</string>
    <key>pan</key>
    <string>pan.glif</string>
    <key>pana</key>
    <string>pana.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>pilin</key>
    <string>pilin.glif</string>
    <key>pimeja</key>
    <string>pimeja.glif</string>
    <key>pini</key>
    <string>pini.glif</string>
    <key>pipi</key>
    <string>pipi.glif</string>
    <key>poka</key>
    <string>poka.glif</string>
    <key>poki</key>
    <string>poki.glif</string>
    <key>pona</key>
    <string>pona.glif</string>
    <key>pu</key>
    <string>pu.glif</string>
    <key>sama</key>
    <string>sama.glif</string>
    <key>seli</key>
    <string>seli.glif</string>
    <key>selo</key>
    <string>selo.glif</string>
    <key>seme</key>
    <string>seme.glif</string>
    <key>soweli</key>
    <string>soweli.glif</string>
    <key>suli</key>
    <string>suli.glif</string>
    <key>suno</key>
    <string>suno.glif</string>
    <key>supa</key>
    <string>supa.glif</string>
    <key>suwi</key>
    <string>suwi.glif</string>
    <key>tan</key>
    <string>tan.glif</string>
    <key>taso</key>
    <string>taso.glif</string>
    <key>tawa</key>
    <string>tawa.glif</string>
    <key>telo</key>
    <string>telo.glif</string>
    <key>tenpo</key>
    <string>tenpo.glif</string>
    <key>toki</key>
    <string>toki.glif</string>
    <key>tomo</key>
    <string>tomo.glif</string>
    <key>tu</key>
    <string>tu.glif</string>
    <key>unpa</key>
    <string>unpa.glif</string>
    <key>uta</key>
    <string>uta.glif</string>
    <key>utala</key>
    <string>utala.glif</string>
    <key>walo</key>
    <string>walo.glif</string>
    <key>wan</key>
    <string>wan.glif</string>
    <key>waso</key>
    <string>waso.glif</string>
    <key>wawa</key>
    <string>wawa.glif</string>
    <key>weka</key>
    <string>weka.glif</string>
    <key>wile</key>
    <string>wile.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>NameMe.0</key>
    <string>N_ameM_e.0.glif</string>
    <key>leko</key>
    <string>leko.glif</string>
    <key>space.0</key>
    <string>space.0.glif</string>
  </dict>
</plist>
